:root {
    font-family: Sans;
}
body {
    padding-bottom: 4em;
}
h1 {
    text-align: center;
    margin-bottom: 0;
}
strong {
    font-weight: bold;
}
p.subtitle {
    margin: 0;
    padding: 0;
    text-align: center;
}
.intro {
    margin-block: 1em;
    padding: 1em;
    max-width: 80ch;
    margin-inline: auto;
}

.intro > p {
    margin: 0;
}

.example {
    background-color: #f8f8f8;
    border-radius: 1em;
    padding: 1em;
    max-width: 80ch;
    margin-inline: auto;
    margin-block: 1em;
}
.example-title {
    margin: 0.2em;
}
.kind-list {
    padding-left: 1em;
    overflow-x: scroll;
}
.file-list {
    padding-left: 1em;
    margin-bottom: 0.5em;
    overflow-x: auto;
    scroll-gutter: stable;
}
.file-size {
    min-width: 6em;
    display: inline-block;
    text-align: right;
}
.file-item {
    width: max-content;
    font-family:
        ui-monospace,
        SFMono-Regular,
        Menlo,
        Monaco,
        Consolas,
        "Liberation Mono",
        monospace;
    text-decoration: none;
}
.file-name:hover {
    text-decoration: underline;
}

pre, p>code, li>code {
    padding: 0.2em;
    background: #fAf6e8;
}
pre {
    padding: 0.75em;
    overflow: auto;
}
code {
    font-size: 0.85em;
    font-family:
        ui-monospace,
        SFMono-Regular,
        Menlo,
        Monaco,
        Consolas,
        "Liberation Mono",
        monospace;
}
